/* src/app/dashboard/dashboard.component.css */

.dashboard-container {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: Arial, sans-serif;
}

.dashboard-header {
  background-color: #2c3e50;
  color: white;
  padding: 20px;
  text-align: center;
  font-size: 1.8em;
}

.dashboard-main {
  flex: 1;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  padding: 40px 20px;
  background-color: #f4f4f4;
  flex-wrap: wrap;
  gap: 20px;
}

.card {
  background-color: white;
  padding: 20px 30px;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  width: 300px;
  max-width: 100%;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.5s ease;
  cursor: pointer;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  background-color: #f0f8ff;
}

.card h2 {
  margin-bottom: 10px;
  color: #34495e;
  font-size: 1.5em;
}

.dashboard-footer {
  background-color: #2c3e50;
  color: white;
  padding: 10px;
  text-align: center;
  font-size: 1em;
}

.title {
  font-size: 2em;
  font-weight: bold;
}

/* Responsive styles for tablets */
@media (max-width: 1024px) {
  .dashboard-main {
    justify-content: center;
    gap: 15px;
    padding: 30px 15px;
  }

  .card {
    width: 80%;
    max-width: 400px;
  }

  .title {
    font-size: 1.8em;
  }
}

/* Responsive styles for phones */
@media (max-width: 600px) {
  .dashboard-header,
  .dashboard-footer {
    padding: 12px 8px;
    font-size: 1em;
  }

  .dashboard-main {
    flex-direction: column;
    align-items: center;
    padding: 20px 10px;
  }

  .card {
    width: 80%;
    padding: 15px 20px;
  }

  .card h2 {
    font-size: 1.2em;
  }

  .title {
    font-size: 1.5em;
  }
}



/* Responsive styles for phones */
@media (max-width: 375px) {
  .dashboard-header,
  .dashboard-footer {
    padding: 12px 8px;
    font-size: 1em;
  }

  .dashboard-main {
    flex-direction: column;
    align-items: center;
    padding: 20px 10px;
  }

  .card {
    width: 80%;
    padding: 15px 20px;
  }

  .card h2 {
    font-size: 1.2em;
  }

  .title {
    font-size: 1.5em;
  }
}
